<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ninja App</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <!-- Added the AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./app.js"></script>
  </head>

  <header ng-include="'navbar.html'"></header>

  <body ng-app ="myNinjaApp">
    <!-- Alternative to header tag implementation -->
    <!-- <div>
      <ng-include src="'navbar.html'">
    </div> -->
      <div class="content" ng-controller="NinjaController">

        <p>{{message}}</p>
        <input type="text" ng-model="search" placeholder="Search for a ninja"/>
        
        <button ng-click="order = 'name'">Order by Name</button>
        <button ng-click="order = 'belt'">Order by Belt</button>

          <!-- variables used- order, search -->
          <ul
            ng-repeat="item in ninjas | orderBy: order | filter: search"
            ng-show="item.available"
          >
            <h3>{{item.name}} - {{item.rate | currency: '$'}}</h3>
            <div class="remove" ng-cick="removeItem(item)">x</div>
            <span class="belt" style="background-color: {{item.belt}};">{{item.belt}} belt</span>
            <hr />
          </ul>
      </div>
  </body>
</html>
<body>
</html>
